<div class="admin-panel wrapper">
	<span class="admin-panel__title">Панель администратора</span>
	<%= link_to 'Выйти', logout_path, method: 'delete', class:"button_redirect" %>
	<%= link_to 'Зарегистрировать студента', signup_path , class:"button_redirect" %>
	<% users_collection.map do |user| %>
	<div class="admin-panel__user">
		<p class="admin-panel__user-field">Имя: <%= user.first_name %></p>
		<p class="admin-panel__user-field">Фамилия: <%= user.last_name %></p>
		<p class="admin-panel__user-field">E-mail: <%= user.email %></p>
		<%= link_to 'Подробнее', user_path(user.id), class:"button_redirect" %>
	</div>
	<% end %>
</div>