<div class="wrapper user">
	<%= form_for (resource_user) do |f| %>
		<%= f.text_field :first_name , placeholder: "Имя" , class:"user__edit-field" %>
		<%= f.text_field :last_name , placeholder: "Фамилия" , class:"user__edit-field" %>
		<%= f.email_field :email  , placeholder: "Email", class:"user__edit-field"  %>	
		<%= f.submit "Сохранить", method: "patch", class:"button_redirect" %>
		<%= link_to "Вернуться к просмотру студента", user_path ,class:"button_redirect" %>
		<%= link_to "Вернуться в админ-панель", admin_panel_path ,class:"button_redirect" %>
	<% end %>
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>
</div>