<div class="signup wrapper">
  <span class="signup_title">Новый пользователь</span>
  <%= form_for :user, url: signup_path do |f| %>
    <%= f.text_field :first_name, :placeholder => "Имя" , class:"signup_text" %>
    <%= f.text_field :last_name, :placeholder => "Фамилия", class:"signup_text" %>
    <%= f.text_field :email, :placeholder => "E-mail",class:"signup_text" %>
    <%= f.password_field :password, :placeholder => "Пароль",class:"signup_text" %>
    <%= f.password_field :password_confirmation, :placeholder => "Подтвердите пароль", class:"signup_text" %>
  <span class="login-form__title signup_title">Дополнительная информация</span>
    <%= f.text_field :infopage => :course, placeholder:"Курс", class:"signup_text" %>
    <%= f.text_field :infopage => :faculty, placeholder:"Факультет", class:"signup_text" %>
    <%= f.text_area :infopage => :adress, placeholder: "Адрес"%>


    <%= f.submit "Зарегистрироваться", class:"login-form__submit signup_submit" %>
  <% end %>
  <%= link_to 'Войти', login_path, class:"login-form__else" %>
</div>
