<div class="login-form wrapper">
  <span class="login-form__title signup_title">Зарегистрируйте студента</span>
  <%= form_for :user, url: signup_path do |f| %>
    <%= f.text_field :first_name, :placeholder => "Имя" , class:"login-form__text" %></br>
    <%= f.text_field :last_name, :placeholder => "Фамилия", class:"login-form__text" %></br>
    <%= f.text_field :email, :placeholder => "E-mail",class:"login-form__text" %></br>
    <%= f.password_field :password, :placeholder => "Пароль",class:"login-form__text" %></br>
    <%= f.password_field :password_confirmation, :placeholder => "Повторите пароль", class:"login-form__text" %></br>
    <%= f.submit "Зарегистрировать", class:"login-form__submit signup_submit" %>
    <%= link_to "Назад", admin_panel_path ,class:"login-form__submit signup_submit" %>
  <% end %>
</div>
