<div class="user wrapper">
	<span class="user__title">Профиль студента</span>
	<span class="user__textfield">Имя:<%= resource_user.first_name %></span>
 	<span class="user__textfield">Фамилия:<%= resource_user.last_name %></span>
	<span class="user__textfield">E-mail:<%= resource_user.email %></span> 
	<span class="user__textfield">За первый семестр по матлогу:<%= semesters_collection[0].matlog unless semesters_collection[0].nil? %></span> 
	<% if current_user.admin? %>
	<%= link_to 'Удалить студента', destroy_user_path(id: resource_user.id), method: 'delete', data: { confirm: 'Вы уверены, что хотите удалить студента из базы?' }, class:"button_delete" %>
	<%= link_to "Изменить", edit_path(resource_user.id), method: 'get', class:"button_redirect" %>
	<%= link_to "Назад", admin_panel_path ,class:"button_redirect" %>
	<% else %>
		<%= link_to 'Выйти', logout_path, method: 'delete' , class:"button_redirect" %>
	<% end %>
</div>